[submodule "bash/_libs/bash-it"]
	path = bash/_libs/bash-it
	url = git@github.com:Kidlike/bash-it.git
[submodule "bash/_libs/fzf"]
	path = bash/_libs/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "_libs/dircolors-zenburn"]
	path = _libs/dircolors-zenburn
	url = git@github.com:Kidlike/dircolors-zenburn.git
[submodule "tmux/_libs/oh-my-tmux"]
	path = tmux/_libs/oh-my-tmux
	url = https://github.com/Kidlike/oh-my-tmux
[submodule "_libs/dotbot"]
	path = _libs/dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "_libs/nord-dircolors"]
	path = _libs/nord-dircolors
	url = git@github-kidlike:arcticicestudio/nord-dircolors.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
