[submodule "_libs/dotbot"]
	path = _libs/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "configs/bash/_libs/bash-preexec"]
	path = configs/bash/_libs/bash-preexec
	url = git@github-kidlike:rcaloras/bash-preexec.git
[submodule "configs/bash/_libs/maven-bash-completion"]
	path = configs/bash/_libs/maven-bash-completion
	url = git@github-kidlike:juven/maven-bash-completion.git
[submodule "bash/_libs/bash-it"]
	path = bash/_libs/bash-it
	url = git@github.com:Kidlike/bash-it.git
[submodule "bash/_libs/fzf"]
	path = bash/_libs/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "_libs/dircolors-zenburn"]
	path = _libs/dircolors-zenburn
	url = git@github.com:Kidlike/dircolors-zenburn.git
[submodule "tmux/_libs/oh-my-tmux"]
	path = tmux/_libs/oh-my-tmux
	url = https://github.com/Kidlike/oh-my-tmux
[submodule "vim/_libs/dotbot"]
	path = vim/_libs/dotbot
	url = git@github.com:audibleblink/dotbot.git
